img {
    width: 600px;
    border: 10px solid blue;
    border-radius: 50px;
}

p {
   font-size: 80px;
   font-family: 'Anton', sans-serif;
}

body {
    background-color: #b21313;
    text-align: center;
}

h1{
    font-size: 30px;
}
li{
    font-size: 30px;
    text-align: center;
}
li{
    color:blue;
    opacity: 0.5;
}
li{
    font-family: 'Kalam', cursive;
}